@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Kiwi+Maru:wght@300&family=M+PLUS+2:wght@100..900&family=M+PLUS+Rounded+1c&display=swap');

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}