.background {
    background-color: #E8FF00;
    min-height: 100%;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding-top: 6rem;

}

* {
    margin: 0;
    padding: 0;
}

.photo {
    margin: 3%;
    width: 50%;
    height: 50%;
}

.text {
    margin: 3%;
    color: #000;
}

.link {
    color: #000;
    text-decoration: none;

}

.link:hover {
    color: white;
    text-decoration: none;

}

body {
    height: 100%;
}