.img {
    width: 100%;
    height: auto;
    padding: 6rem 1rem;
}

.text {
    margin: 1rem;
}


.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    padding: 0 1rem;
    box-sizing: border-box;
}
