.img {
    width: 100%;
    height: auto;
    display: block;
    padding: 1rem 1rem;
}

.img:first-of-type {
    padding-top: 6rem;
}

.text {
    margin: 1rem;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    box-sizing: border-box;
    padding: 0 1rem;
}

.credit {
    margin: 0.5rem 1rem;
}

.creditTable {
    margin: 1rem;
    border-collapse: collapse;
}

.creditRole {
    padding-right: 10rem;
    vertical-align: top;
}

.creditName {
    vertical-align: top;
}

@media (max-width: 600px) {
    .creditTable {
        width: 100%;
    }

    .creditRole,
    .creditName {
        display: block;
        padding-right: 0;
    }

    .creditRole {
        padding-top: 0.8rem;
    }
}