.img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    padding: 1rem 1rem;
    box-sizing: border-box; 
}

.img:first-of-type {
    padding-top: 6rem;
}

.title {
    margin: 0.3rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.date {
    margin: 0 1rem 2rem 1rem;  
    font-size: 0.8rem;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    box-sizing: border-box;
    padding: 0 1rem;
}

.credit {
    margin: 2rem 1rem;
    padding: 3rem;
}

.creditTable {
    margin: 1rem;
    border-collapse: collapse;
}

.creditRole {
    padding-right: 10rem;
    vertical-align: top;
    color: #8a8a8a;
    padding-bottom: 0.5rem; 
}

.creditName {
    vertical-align: top;
    padding-bottom: 0.5rem; 
}

@media (max-width: 768px) {
    .creditTable {
        width: 100%;
    }

    .creditRole,
    .creditName {
        display: block;
        padding-right: 0;
    }

    .creditRole {
        padding-top: 1.5rem;
        font-size: 0.8rem;
        padding-bottom: 0; 
    }
}