.menubutton {
    padding: 6px 16px;
    border-radius: 9999px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;

}

.header {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.name {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: -1;
    color: #000;

}

.name:hover {
    color: #fff;
}